#main {
	border: 1px solid silver;
	margin-top:50px;
	max-width: 800px;
	padding: 20px;
	width: 100%;
}

.title {
	margin-bottom:10px;
}

.subtitle {
	margin-bottom:20px;
}

li {
	padding: 5px;
}

#title {

}